﻿html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body
{
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
}

body, button, input, select, textarea
{
    font-family: sans-serif;
    color: #222;
}

h1
{
    font-size: 220%;
}

.container
{
    width: 95%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.form
{
    text-align: left;
}
.form label
{
    display: inline-block;
    min-width: 260px;
    font-size: 150%;
    margin-right: 2%;
}

.regnr, .km
{
    width: 96%;
    padding: 2%;
    font-size: inherit;
}

.submit
{
    font-size: 150%;
    padding: 2% 0;
    width: 100%;
}

.result
{
    padding: 5% 2%;
    margin: 5% 0;
}
.result h2
{
    font-size: 220%;
    margin: 0;
}
.result .loader
{
    display: none;
    margin: 0 auto;
}
.result.loading .loader
{
    display: block;
}
.result.spolet
{
    background: red;
}
.result.ok
{
    background: green;
}
.result .info
{
    font-size: 120%;
}

.footer
{
    font-size: 90%;
}
