﻿@model AGehrke.BilSpole.Models.BilSpoleModel
@{
    var resultCss = Model != null && Model.Spolet.HasValue ? (Model.Spolet.Value ? "spolet" : "ok") : "";
}
<div class="result @resultCss">
    <img src="~/img/ajax-loader.gif" class="loader" alt="Loading" />
    @if (Model != null && Model.Spolet.HasValue && Model.Spolet.Value)
    {
        <h2>
            Bilen er blevet spolet!</h2>
        <div class="info">
            og har tidligere været registreret med @Model.MaxKm km</div>
    }
    else if (Model != null && Model.Spolet.HasValue && !Model.Spolet.Value)
    {
        <h2>
            Bilen ser IKKE ud til at være spolet</h2>
        <div class="info">
        </div>
    }
    else
    { 
        <h2>
        </h2>
        <div class="info">
        </div>
    }
</div>
