﻿@model AGehrke.BilSpole.Models.BilSpoleModel
@{
    ViewBag.Title = "Tjek om bilens kilometertæller er blevet spolet";
    Layout = "~/Views/_Layout.cshtml";    
}
<h1>
    Tjek om bilen er blevet spolet</h1>
<div class="search">
    @using (Html.BeginRouteForm("Check", FormMethod.Get, new { @class = "form" }))
    { 
        <div>
            <label>
                Reg nr / stelnummer<br />
                @Html.TextBoxFor(m => m.RegNr, new { @class = "regnr", placeholder = "AB10200 eller W1L0JAF35W3238485" })
            </label>
            <label>
                Kilometertæller<br />
                @Html.TextBoxFor(m => m.Km, new { @class = "km", type = "number", placeholder = "170000" })
            </label>
        </div>
        <input type="submit" class="submit" value="Er bilen spolet?" />
    }
</div>
@Html.Partial("_Result")
<div class="footer">
    Denne side behandler offentlig tilgængelig data fra <a href="http://selvbetjening.trafikstyrelsen.dk/sider/soegning.aspx">
        Trafikstyrelsen</a>, og vurderer herud fra om bilens kilometertæller er blevet
    spolet eller ej. Udviklet af <a href="http://dk.linkedin.com/in/andreasgehrke" title="Læs CV på LinkedIn">Andreas Gehrke</a>.</div>
<script type="text/javascript">
    $(function () {
        $(".form").submit(function () {
            if ($(".regnr").val() == "" || $(".km").val() == "") return false;

            $(".result").addClass("loading");
            $.ajax({
                url: $(this).attr("action"),
                type: "GET",
                data: $(this).serialize(),
                success: function (result) {
                    $(".result").removeClass("loading spolet ok");
                    if (result.Spolet) {
                        $(".result").addClass("spolet").find("h2").text("Bilen er blevet spolet!");
                        $(".result").find(".info").text("og har tidligere været registreret med " + result.MaxKm + " km");
                    } else {
                        $(".result").addClass("ok").find("h2").text("Bilen ser IKKE ud til at være spolet");
                        $(".result").find(".info").text("");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".result").removeClass("loading");
                    alert(errorThrown);
                }
            });
            return false;
        });
    });
</script>
